snippet phptest "Create a phptest" b
/** @test */
public function $1(): void {
	$2
}
endsnippet

snippet pmet "Create a php public method" b
public function $1($2) {
	$3
}
endsnippet

snippet prmet "Create a php protected method" b
public function $1($2) {
	$3
}
endsnippet
